.usuario {
    margin-top: 20px;
    margin-bottom: 20px;
}

.usuario .botones a {
    width: 100% !important;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;

    color: white;
}

.btn-pendiente {
    color: #fff;
    background-color: #7e7e7e;
    border-color: #393939;
}

.btn-pendiente:hover {
    color: white !important;
    background-color: #5d5d5d !important;
}

.img-perfil {
    max-height: 92px !important;
    margin: 0 auto;
}

.solicitudes-entrar .contenido {
    height: 500px;
    overflow-y: scroll;
}
