.btn-twitter {
    background-color: #1da1f2 !important;
}

.btn-twitter:hover {
    background-color: #1b88cb !important;
}

.btn-twitch {
    background-color: #4b367c !important;
}

.btn-twitch:hover {
    background-color: #35265a !important;
}
