body {
    height: 100%;
}

body {
    font-family: 'roboto-slab-regular';
    background-color: #eaeaea;

    color: #222;
}

.container-fluid {
    min-height: 100% !important;
}

.seccion {
    margin-right: 14px !important;
}

.navbar-fija {
    position: fixed;
    left: 0;
    width: 100%;
}

.contenedor-menu, .contenedor-menu > div, .contenedor-menu > div > div {
    height: 100% !important;
}

.contenedor-menu .menu .expandir {
    color: white;

    font-size: 26px;
}

div.menu {
    background-color: #222;
}

.menu .titulo {
    font-size: 30px;

    background-color: #222 !important;


    text-align: center;

    padding: 14px !important;
}

.menu .opcion-row, .menu .titulo {
    background-color: #337ab7;
    color: white;

    padding: 5px;

    padding-top: 8px;
    padding-bottom: 8px;
}

.menu .opcion-row {
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: #2e6593;
}

.menu .opcion-row:hover {
    background-color: #2e6593;
}

.menu .opcion-row span {
    margin-right: 8px;
}

.menu .opcion-row.active {
    background-color: #255176;
}

.menu .opcion-row.salir {
    background-color: #d9534f;
    border-color: #d43f3a;
}

.menu .opcion-row.salir:hover {
    background-color: #d43f3a;
}

.contenedor-menu-contenido {
    margin-top: 12px;
}

@media (max-width: 1200px) {
    .menu .titulo {
        font-size: 24px;
    }
}

@media (max-width: 991px) {
    .contenedor-menu, .contenedor-menu > div, .contenedor-menu > div > div {
        height: auto !important;
    }

    .navbar-fija {
        position: relative;
        left: auto;
        width: auto;
    }

    .menu {
        padding-bottom: 5px !important;
    }

    .modulo {
        margin-right: 0px !important;
    }

    .seccion {
        margin-right: 0px !important;
    }
}

/* Modulos */
.modulo {
    border-style: solid;
    border-color: #2e6593;
    border-width: 4px;

    padding-bottom: 8px;

    background-color: #337ab7;
    color: white;

    margin-right: 12px;
}

.modulo .contenido {
    background-color: white !important;

    padding-top: 15px;
    padding-bottom: 15px;

    color: black;
}

.modulo .titulo-cabecera {
    margin: 0px !important;
    padding-bottom: 15px !important;
}

.modulo-tamano .contenido {
    height: 500px;
    overflow-y: scroll;
}
